.panel-body{
    background-color: black;
    color: #00FF00;
    font-size: 1.5em;
    /*font-family: 'Droid Sans Mono', ;*/
    font-family: 'Source Code Pro', ;
}


 

.panel-heading{
	background: -moz-linear-gradient(left, #CCCCCC 0%, #EEEEEE 50%, #EEEEEE 50%, #CCCCCC 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#CCCCCC),color-stop(50%,#EEEEEE), color-stop(50%,#EEEEEE), color-stop(100%,#CCCCCC));
}

/*@import url(https://fonts.googleapis.com/css?family=Droid+Sans+Mono);*/


.btn{

	background: #5CC3A7;
	color: #F2F2F2;

	/* CSS Transition */
	-webkit-transition: background .2s ease-in-out, border .2s ease-in-out;
	-moz-transition: background .2s ease-in-out, border .2s ease-in-out;
	-ms-transition: background .2s ease-in-out, border .2s ease-in-out;
	-o-transition: background .2s ease-in-out, border .2s ease-in-out;
	transition: background .2s ease-in-out, border .2s ease-in-out;

}